body {
  margin: 0;
  background-color: #000;
  
}

.ad-container{
  background-color: #fff;
  width: 70vw;
  margin: 0 auto;
  height: 200px;
  margin-top: 20px;
}

a{
  text-decoration: none;
  color: #fff;
}

.unauth{
  text-align: center;
  color: #fff;
}
.signin{
  color: dodgerblue;
  background-color: rgb(25, 17, 17);
  border: none;
  padding: 10px;
  cursor: pointer;
}
